.quiz-main {
    text-align: center;
}

.quiz-heading {
    color: #F13C20;
    margin: 1rem;
}
.question-container {
    font-size: x-large;
    padding: 0.5rem 0rem;
}

.question-container p {
    margin: 1rem 0;
}

#output-message {
   color: #4056A1;
}